* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 20s ease-in-out infinite;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.col-50 {
  width: 50%;
}

.col-30 {
  width: 30%;
}
.justify-content-space-around {
  justify-content: space-around;
}
.align-items-center {
  align-items: center;
}
.bio {
  border: 1px solid whitesmoke;
  backdrop-filter: blur(10px);
  background: #ffffff57;
  padding :1rem;
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px;
}

.flex-reverse {
  flex-direction: row-reverse;
}

section {
  margin: 1rem 0;
}
